@import "libs/variables";
@import "libs/mixins";
@import "libs/responsive";


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*
{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

main
{
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: $very_dark_blue;

  .container
  {
    height: 100%;
    padding: 0 50px;
    .content
    {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4 , 20%);
      grid-template-rows: repeat(2 , 30%);
      grid-column-gap: 4%;
      grid-row-gap: 8%;
      justify-content: center;
      align-content: center;

        .user
      {
        @include Border-radius;
        grid-column: 1;
        grid-row: 1 / 3;
        background-color: $dark_blue;


        .userProfil
        {
          @include Border-radius;
          height:70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: justify;
          background-color: $blue;
          
          img
          {
            width: 30%;
            border: 3px solid white;
            border-radius: 50%;
            position: relative;
            right: 25%;
            bottom: 10%;
          }
          padding: 0 2%;
          
          .userInfo 
          {
            margin-right: 50%;
            &__show
            {
              color: $pale_blue;
              font-weight: 500;
              
            }
            &__name
            {
              width: 2rem;
              font-size: 2.5rem;
            }
          }
        }

        &__period
        {
          padding: 10% 12% 7% 12%;
          height: 30%;
          ul
          {
            list-style-type: none;

            li
            {
              margin-bottom: 8%;

              a
              {
                cursor: pointer;
                text-decoration: none;
                color: $pale_blue;

                &:hover
                {
                  color: white;
                  font-weight: 700;
                }
              }
              .active
              {
                color: white;
                font-weight: 700;
              }
              
            }
          }
        }
      }

    

      .card-1
      {
        @include card($light_red);
      }
      .card-2
      {
        @include card($soft_blue , url(/images/icon-play.svg));
      }
      .card-3
      {
        @include card($light_blue , url(/images/icon-study.svg));
      }
      .card-4
      {
        @include card($lime_green , url(/images/icon-exercise.svg));
      }
      .card-5
      {
        @include card($violet , url(/images/icon-social.svg));
      }
      .card-6
      {
        @include card($soft_orange , url(/images/icon-self-care.svg));
      }

    }

  }
}

